.tarefa-list {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 5px;
}

.tarefa-list h2 {
  margin-bottom: 15px;
}

.tarefa-list ul {
  list-style-type: none;
  padding: 0;
}

.tarefa-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}


.tarefa-list btns{
  display:flex;
  justify-content: flex-end;
}


.tarefa-list button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.tarefa-list button:hover {
  background-color: #d32f2f;
}